.template-home_3 .--ratio {
    border-bottom-width: 5px;
    border-color: transparent
}

@media (min-width: 1024px) {
    .template-home_3 .--ratio {
        aspect-ratio: 45/100;
        border-bottom-width: 0;
        border-right-width: 5px
    }
}

@media (min-width: 1280px) {
    .template-home_3 .--ratio {
        aspect-ratio: 55/100
    }
}

@media (min-width: 1537px) {
    .template-home_3 .--ratio {
        aspect-ratio: 68/100
    }
}

.template-home_3 .--content {
    display: flex;
    flex-direction: column;
    padding: var(--space-m-l)
}

@media (max-width: 1023.9px) {
    .template-home_3 .--content {
        padding-bottom: var(--space-2xl-3xl);
        text-align: center
    }
}

@media (min-width: 1024px) {
    .template-home_3 .--content {
        padding-right: var(--space-2xl-3xl)
    }
}

.template-home_3 .--content h3 {
    margin-bottom: var(--space-m-l)
}

.template-home_3 .--title {
    margin-top: var(--space-s-m)
}

.template-home_3 .--reveal {
    height: 22em;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(0, 0, 0, .15) 66%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(0, 0, 0, .15) 66%, rgba(0, 0, 0, 0) 100%)
}

.template-home_3 .--reveal-button {
    margin-left: auto;
    margin-right: auto
}

.template-home_3_grid {
    position: relative
}

@media (min-width: 1024px) {
    .template-home_3_grid {
        display: grid;
        grid-auto-rows: minmax(0, 1fr);
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

.template-home_3_play-bg {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border-left-width: 5px;
    border-right-width: 5px;
    --un-border-opacity: 1;
    border-color: rgba(22, 27, 50, var(--un-border-opacity));
    content: ""
}

.template-home_3_play h3 {
    max-width: fit-content;
    --un-translate-y: .375rem;
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: -2deg;
    transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    transform: translate3d(var(--un-translate-x), var(--un-translate-y), var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

@media (max-width: 1023.9px) {
    .template-home_3_play h3 {
        margin-left: auto;
        margin-right: auto
    }
}

.template-home_3_play.--ratio {
    --un-border-opacity: 1;
    border-color: rgba(22, 27, 50, var(--un-border-opacity))
}

.template-home_3_media {
    position: relative;
    margin-right: 5px;
    height: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    --un-gradient-from-position: 0%;
    --un-gradient-from: rgba(151, 66, 146, var(--un-from-opacity, 1)) var(--un-gradient-from-position);
    --un-gradient-to: rgba(151, 66, 146, 0) var(--un-gradient-to-position);
    --un-gradient-stops: var(--un-gradient-from), var(--un-gradient-to);
    --un-gradient-to-position: 100%;
    --un-gradient-to: rgba(93, 34, 96, var(--un-to-opacity, 1)) var(--un-gradient-to-position);
    --un-gradient-shape: to bottom;
    --un-gradient: var(--un-gradient-shape), var(--un-gradient-stops);
    background-image: linear-gradient(var(--un-gradient));
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: .4s
}

@media (max-width: 1023.9px) {
    .template-home_3_media {
        margin-left: 5px;
        aspect-ratio: 75/100
    }
}

.--dark-mode .template-home_3_media {
    border-radius: 1.5rem
}

.template-home_3_media-bk {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(var(--un-translate-x), var(--un-translate-y), var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    background-size: cover;
    background-position: bottom center;
    filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: 1s;
    will-change: transform;
    transform-origin: 50% 66%
}

.--clicked .template-home_3_media-bk {
    --un-scale-x: 1.05;
    --un-scale-y: 1.05;
    transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    --un-brightness: brightness(1.15);
    filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1)
}

.template-home_3_media-items {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    will-change: transform
}

.template-home_3_media-items>div {
    position: absolute;
    top: 45%;
    left: 50%;
    --un-translate-x: -50%;
    --un-translate-y: -50%;
    transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    transform: translate3d(var(--un-translate-x), var(--un-translate-y), var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.template-home_3_media-items .--rotate {
    transform: rotate(var(--rotate))
}

.template-home_3_media-items .--spin {
    transition-property: transform;
    transition-timing-function: linear;
    transition-duration: var(--speed);
    transform: rotate(var(--spin))
}

.template-home_3_media-items .--pos {
    --un-translate-y: -300%;
    transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    transform: translate3d(var(--un-translate-x), var(--un-translate-y), var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: var(--speed);
    transition-timing-function: cubic-bezier(.12, .34, .72, -.05)
}

.template-home_3_media-items img {
    transform: translate3d(var(--un-translate-x), var(--un-translate-y), var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1)
}

.template-home_3_media-items-enter-active {
    transition-duration: var(--speed)
}

.template-home_3_media-items-enter-from .--spin {
    transform: rotate(calc(-20deg - var(--spin)))
}

.template-home_3_media-items-enter-from .--pos {
    --un-translate-y: 0;
    transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.template-home_3_media-items-enter-from img {
    --un-scale-x: .5;
    --un-scale-y: .5;
    transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    --un-brightness: brightness(2);
    filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia)
}

.template-home_3_media .ui-cursor_follow svg {
    width: 4em;
    height: 4em;
    transform: translate3d(var(--un-translate-x), var(--un-translate-y), var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.template-home_3_media .ui-cursor_follow svg .--text {
    will-change: transform;
    transform-origin: center;
    animation: spin 20s forwards infinite linear
}

.template-home_3_media:active .ui-cursor_follow svg {
    --un-scale-x: .85;
    --un-scale-y: .85;
    transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.template-home_3_coin {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: -2.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--space-s-l)
}

@media (min-width: 1024px) {
    .template-home_3_coin {
        top: 0;
        bottom: 0;
        left: -2.25em;
        right: auto
    }
}

.template-home_3_coin-flip {
    width: 4.5em;
    height: 4.5em
}

.template-home_3_coin-flip-enter-active {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1)
}

.template-home_3_coin-flip-enter-from {
    --un-scale-x: .1;
    transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.template-home_3_coin-flip-leave-active {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.95, .05, .795, .035)
}

.template-home_3_coin-flip-leave-to {
    --un-scale-x: .1;
    transform: translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}